@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

#header {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    background: #fff;
    cursor: default;
    height: 4em;
    left: 0;
    line-height: 4em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10001;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
    text-align: center;
}

#header .logo {
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    letter-spacing: 2px;
    margin-top: -5px;
    text-decoration: none;
    display: inline-block;
}

#header .logo-icon {
    vertical-align: initial;
    height: 30px;
    padding-right: 5px;
}

#view {
    margin-top: 65px;
    min-height: 900px;
}


/* Footer */

#footer {
    padding: 6em 0 4em 0;
    background: #007bff;
    text-align: center;
    color: #c8e7f0;
}

#footer h2 {
    color: #fff;
}

#footer .icon {
    color: #f6755e;
}

#footer a {
    color: #c8e7f0;
    text-decoration: none;
}

#footer ul li {
    padding: 0 2em;
}

#footer .copyright {
    display: inline-block;
    color: #c8e7f0;
    font-size: 0.75em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    padding: 2em 10em;
}

@media screen and (max-width: 980px) {
    #footer {
        padding: 3em 0 1em 0;
    }
    #footer ul li {
        display: block;
        padding: 0.25em 0;
    }
}

@media screen and (max-width: 736px) {
    #footer .copyright {
        padding: 2em 5em;
    }
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 2em 0 0.1em 0;
    }
    #footer ul li {
        font-size: 0.9em;
    }
    #footer ul li .icon:before {
        margin-left: -1em;
    }
    #footer .copyright {
        padding: 2em 0;
    }
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li>* {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li>* {
    margin-bottom: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
    ul.actions {
        margin: 0 0 2em 0;
    }
    ul.actions li {
        padding: 1em 0 0 0;
        display: block;
        text-align: center;
        width: 100%;
    }
    ul.actions li:first-child {
        padding-top: 0;
    }
    ul.actions li>* {
        width: 100%;
        margin: 0 !important;
    }
    ul.actions li>*.icon:before {
        margin-left: -2em;
    }
    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }
    ul.actions.small li:first-child {
        padding-top: 0;
    }
}

.fab {
    margin-right: 5px;
}

.noUi-connect {
    background: #007bff !important;
}

.wk-wrapper {
    background-color: #218838 !important;
}